<div class="service-38">
<div class="transparency">
  <div class="parrallax transparency">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-12">
          <div class="p-3"> 
            <h1 class="service-38">Admin Dashboard: Catalog Statistics</h1>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="card card-shadow border-0">
        <div class="container p-3">
          <div class="row no-gutters">
            <div class="col-lg-6 col-md-3">
              <div class="d-flex my-2">
                <div class="display-4 mr-4"><span class="text-success-gradient"><i class="icon-docs"></i></span></div>
                <div class="text-success-gradient">
                  <h3 class="mb-0 font-weight-light"><%= @product_count %></h3>
                  <h6 class="subtitle font-weight-light">Product Count</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="d-flex my-2">
                <div class="display-4 mr-4"><span class="service-38 text-success-gradient"><i class="icon-star"></i></span></div>
                <div class="text-success-gradient">
                  <h3 class="service-38 text-success-gradient"><%= @category_count %></h3>
                  <h6 class="subtitle font-weight-light">Category Count</h6>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
