<section>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
    id="block-yui_3_17_2_1_1410358937838_39438">
    <div class="sqs-block-content">
      <hr />
    </div>
  </div>
  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1410358937838_38874">
    <div class="sqs-block-content">
      <h2 style="text-align:center;white-space:pre-wrap;">“Great things are done by a series of small things brought
        together.” </h2>
      <h2 style="text-align:center;white-space:pre-wrap;">~Vincent Van Gogh</h2>
    </div>
  </div>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
    id="block-yui_3_17_2_1_1410358937838_42671">
    <div class="sqs-block-content">
      <hr />
    </div>
  </div>
  <div class="row sqs-row">
    <div class="col sqs-col-6 span-6">
      <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1410358937838_44366">
        <div class="sqs-block-content">

          <div class="flex-row">
            <div class="flex-col">
              <h2 style="white-space:pre-wrap;">Our Story</h2>
              <p class="" style="white-space:pre-wrap;">I'm baby fixie twee meggings fam. Organic try-hard cronut
                intelligentsia viral, scenester farm-to-table. Woke sriracha cronut vice mumblecore paleo, craft beer
                pickled umami. Ugh heirloom everyday carry fanny pack ennui cred. Farm-to-table brunch bespoke
                single-origin coffee pour-over microdosing. Cold-pressed microdosing scenester, bushwick prism fixie
                venmo lyft salvia cornhole swag truffaut food truck. Pok pok mustache craft beer, street art polaroid
                plaid pork belly four dollar toast. </p>
              <img class="shopprev"
                src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            </div>
          </div>

          <p class="" style="white-space:pre-wrap;">+1 kale chips marfa forage trust fund cardigan irony. Salvia
            portland iPhone bitters, you probably haven't heard of them stumptown next level unicorn knausgaard ramps.
            Lomo salvia adaptogen, lumbersexual succulents single-origin coffee jean shorts. Intelligentsia hoodie
            authentic distillery quinoa, knausgaard marfa. Crucifix irony adaptogen, artisan XOXO farm-to-table
            knausgaard master cleanse gluten-free four loko blog pinterest. Cred vape cloud bread, bitters quinoa blue
            bottle seitan locavore. Raclette VHS locavore narwhal swag, selvage mixtape crucifix man braid air plant
            vexillologist umami venmo chia wolf. </p>
          <p class="" style="white-space:pre-wrap;">YOLO chia sustainable keytar food truck. Tattooed typewriter forage
            biodiesel, migas messenger bag cloud bread pork belly unicorn adaptogen franzen readymade stumptown lyft.
            Deep v poutine enamel pin VHS drinking vinegar typewriter man bun vice pok pok waistcoat try-hard. Paleo
            narwhal meh iPhone, literally whatever tacos roof party hoodie master cleanse. Lo-fi bicycle rights
            readymade, you probably haven't heard of them hashtag dreamcatcher sartorial vaporware unicorn brooklyn
            schlitz scenester iPhone.</p>
          <p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
          <h2 style="white-space:pre-wrap;">products that are FUNCTIONAL and beautiful</h2>
          <p class="" style="white-space:pre-wrap;">All our products are made to the highest standards, by ourselves
            (mainly me) and other independent makers, using Eco &amp; environmental conscious materials, being as kind
            to the planet as possible.</p>
          <h2 style="white-space:pre-wrap;">Style &amp; Quality</h2>
          <p class="" style="white-space:pre-wrap;">All our products are handmade to the highest quality &amp; style.
            Adaptogen gochujang cronut hell of, flannel tumblr bespoke affogato bushwick. Asymmetrical twee lomo edison
            bulb. Bespoke beard yuccie, iPhone actually viral PBR&B seitan lumbersexual YOLO messenger bag mlkshk ugh
            tumblr iceland. Ramps cred try-hard salvia, 90's organic 3 wolf moon paleo stumptown.</p>
        </div>
      </div>
    </div>
    <div class="col sqs-col-6 span-6">
      <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1410358937838_45515">
        <div class="sqs-block-content">
          <h2 style="white-space:pre-wrap;">100% Handmade</h2>
          <p class="" style="white-space:pre-wrap;">Our products are handmade, whether that be myself making unique
            ceramic pots to others creating bespoke hand cut ceramic jewellery or screen printed prints and t shirts.
            &nbsp;Handmade products are timeless and made to last </p>
          <h2 style="white-space:pre-wrap;">Giving</h2>
          <p class="" style="white-space:pre-wrap;">We are passionate about giving back, and one of our visions is
            support and sponsor children out of poverty and those affected by sex trafficking and HIV. </p>
          <p class="" style="white-space:pre-wrap;">We also work with some amazing charities such as ONCA Gallery based
            in Brighton and Ghost of Gone Birds, Baby Basics, Snow drop, Hope for Justice, Archer Project, Food Banks
          </p>
          <h2 style="white-space:pre-wrap;">quotes and awards</h2>
          <p class="" style="white-space:pre-wrap;">‘When selecting my #WOW winners i always look for businesses that
            have responded to a gap in the market and developed a well thought out business. MoonKo has a unique
            offering and a fantastic website which i am sure will enable them to experience continued growth and
            success’ <strong>Jacqueline Gold </strong></p>
          <p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
    id="block-yui_3_17_2_1_1410358937838_62286">
    <div class="sqs-block-content">
      <hr />
    </div>
  </div>
  <div class="row sqs-row">
    <div class="col sqs-col-1 span-1">
      <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21"
        id="block-yui_3_17_2_1_1410358937838_63638">
        <div class="sqs-block-content">&nbsp;</div>
      </div>
    </div>
    <div class="col sqs-col-11 span-11">
      <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21"
        id="block-yui_3_17_2_1_1410358937838_65762">
        <div class="sqs-block-content">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_3_1435014417870_13422">
    <div class="sqs-block-content">
      <p class="" style="white-space:pre-wrap;">Over the last two years Jungle has gone from strength to strength.
        &nbsp;Winning awards from both Theo Paphitis &amp; Jacqueline Gold. &nbsp;Being featured in Ernest Journal, ITV,
        winner awards from Santander and getting to meet Jessica Ennis Hill</p>
    </div>
  </div>
  <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
    id="block-yui_3_17_2_1_1410358937838_62999">
    <div class="sqs-block-content">
      <hr />
    </div>
  </div>
  </div>
  </div>
  </div>
</section>